@charset "utf-8";

$font-color: #593636;
$main-color: #904E4E;
$main-clearcolor: #904e4ebc;
$pink-color: #9A6F7C;
$yellow-color: #BB864A;
$base-color: #f7f2eb;
$back-color: #F8F1E3;
$back-color-clear: #f8f1e3e8;
$menu-back-color: #533232;
$gray-color: #D9D9D9;
$shadow-color: rgba(89, 54, 54, .1);

$font-size: 16;
$font-size-desktop: 18;
$title-text: 24;
$subtitle-text: 22;

$inner-desktop: 720;

* {
    // Webフォント
    font-family: "Shippori Mincho", serif;
    // font-weight: 400;
    // font-style: normal;
    // color: $font-color;
    letter-spacing: 0.05em;
}



@mixin m-flex($a: center, $j: space-between) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $j;
    align-items: $a;
}

@mixin m-inner($w: 90%, $mw: 490px) {
    width: $w;
    max-width: $mw;
    margin-left: auto;
    margin-right: auto;
}

$breakpoints: (
    "tablet": "screen and (min-width: 640px)",
    "desktop": "screen and (min-width: 820px)",
    "desktop-big": "screen and (min-width: 990px)",
    "full": "screen and (min-width: 1200px)",
    "four": "screen and (max-width: 460px)",
    "little-mobile": "screen and (max-width:395px)",
    "mobile": "screen and (max-width: 640px)"
    ) !default;

    @mixin m-query($breakpoint) {
        @media #{map-get($breakpoints, $breakpoint)} {
            @content;
        }
    }

    @function f-rem($value ) {
        @return ($value/16)+rem;
    }

html {
        font-size: $font-size+px;
        scroll-behavior: smooth;
        @include m-query(desktop){
            font-size: $font-size-desktop+px;
        }
    }

img {
        vertical-align: bottom;
        height: auto;
        max-width: 100%;
    }

body {
    overflow-x: hidden;
    color: $font-color
    // ハンバーガーメニュー開いたらoverflow-y:hidden;
}

.header {
    &__inner {
        @include m-inner(
    );
}
}

// ハンバーガーメニュー
.hamburger {
    position: fixed;
    z-index: 100;
    width: (40/$font-size)+em;
    top: 40px;
    right: 20px;
    background-color: white;
}

.bar {
    display: block;
    height: (8/$font-size)+em;
}

// メニューウィンドウ
.navMenu {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 130vw;
    z-index: 15;
    background: $main-clearcolor;
    color: white;
    backdrop-filter: blur(10px);

    @include m-query(desktop) {
        display: none;
    }

    &__menu {
        // margin-left: (50/$font-size)+em;
        text-align: center;
        margin-top: 20vh;
    }

    &__li {
        margin-top: (50/$font-size)+em;
    }
}


// ファーストビュー
.lp {
    @include m-inner();

    @include m-query(desktop) {
        @include m-inner(90%, $inner-desktop+px);
    }

    padding: (250/$font-size)+em 0 (250/$font-size)+em;
    position: relative;

    &__logo {
        position: relative;
    }

    &__picture {
        text-align: center;
    }

    &__bg {
        background: url("../../img/lp_background1.png") no-repeat center center / cover;
        height: 100vh;
        width: 100%;
        position: fixed;
        z-index: -1;
        top: 0;
        left: 0;
        filter: blur(6px);
    }
}

.logo {
    display: block;
    width: (300/$font-size)+em;
    margin: 0 auto;

    @include m-query(desktop) {
        width: 70%;
        max-width: 560px;
    }
}

// ナビゲーション（デスクトップのみ）
.navigation {
    display: none;

    @include m-query(desktop) {
        display: block;
        margin: (40/$font-size)+em auto 0;
        padding-top: (40/$font-size)+em;
        width: 80%;
        border-top: 1px solid white;
    }

    &__ul {
        @include m-query(desktop) {
            display: flex;
            flex-direction: row-reverse;
            width: 90%;
            justify-content: space-between;
            margin: 0 auto;
        }
    }

    & li a {
        color: white;
        scale: 1.0;
        letter-spacing: .3em;
        transition: all 0.2s ease;
        @include m-query(desktop){
            writing-mode: vertical-lr;
            color: white;
            font-size: (18/$font-size-desktop)+em;
            letter-spacing: .3em;
        }
        &::after{
            content: "";
            display: block;
            width: 1px;
            height: 0%;
            margin-left: (8/18)+em;
            background-color: $font-color;
            transition: all .4s ease;

        }
        &:hover{
            color: $yellow-color;
            scale: 1.07;
            &::after{
                height: 100%;
                background-color: $yellow-color;
            }
        }
    }
}

// 　　　　　　　　　　■■　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　
// 　　　　　　　　　　■■　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　
// 　　　　　　　　　　■■　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　
// 　　　　　　　　　　■■　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　
// 　　■■■■　　　　■■　■■■　　　　　　■■■■　　　　■■　　　　■　　■■■■■　
// 　■■　　　■　　　■■■　　　■　　　　■　　　■■　　　■■　　　　■　　　　■　　　
// 　　　　　　■　　　■■　　　　■■　　■■　　　　■■　　■■　　　　■　　　　■　　　
// 　　　■■■■■　　■■　　　　　■　　■　　　　　■■　　■■　　　　■　　　　■　　　
// 　■■　　　■■　　■■　　　　　■　　■　　　　　■■　　■■　　　　■　　　　■　　　
// 　■　　　　■■　　■■　　　　■■　　■■　　　　■■　　■■　　　■■　　　　■　　　
// 　■■　　■■■　　■■■　　　■　　　　■　　　■■　　　　■　　　■■　　　　■　　　
// 　　■■■■■■　　■■　■■■　　　　　　■■■■　　　　　■■■■　■　　　　■■■　
//about ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
.about {
    background-color: rgba(255, 255, 255, 0.88);
    backdrop-filter: blur(5px);
    background: url(../../img/not_source/background_wave_right.png) no-repeat right 0 ,url(../../img/not_source/background_wave_left.png) no-repeat left bottom ;
    background-size: auto auto,40vw auto;
    background-color: $back-color-clear;
    padding: (120/$font-size)+em 0 (100/$font-size)+em;

    @include m-query(desktop){
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding: (260/$font-size-desktop)+em 0 (260/$font-size-desktop)+em;
    }

    &__inner {
        @include m-inner();
        padding-bottom: (60/$font-size)+em;

        @include m-query(desktop) {
            @include m-inner(90%, $inner-desktop+px);
        }
    }

    &__paragraph {
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
        margin-top: (90/$font-size)+em;

    }

    &__text {
        font-size: (15/$font-size)+em;
        writing-mode: vertical-rl;
        line-height: (28/$font-size);
        letter-spacing: 0.5em;
        font-weight: bold;

        &:first-child {
            margin-left: 5vw;
            @include m-query(desktop){
                margin-left: 2vw;
            }

        }
        @include m-query(tablet){
            line-height: 3;
        }

        @include m-query(desktop){
            line-height: 2.4;
        }
    }

    &__textblock {
        @include m-query(desktop) {
            display: flex;
            flex-direction: row-reverse;
            width: 60%;
            margin-left: auto;
            margin-right: -50px;
        }
    }

    &__img{
            display: none;
            position: absolute;
            width: 30vw;
            height: 30%;
            left: 0;
            margin-top: (200/$font-size-desktop)+em;
            background: url("../../img/not_source/about_img.png") no-repeat center center / cover;
        @include m-query(desktop){
            display: block;
            width: 22vw;
            height: 20%;
        }
        @include m-query(desktop-big){
            display: block;
            width: 30vw;
        }
    }
}


// アイコン
.icon {
    vertical-align: baseline;
    height: .7lh;
    margin-left: (3/$title-text)+em;

    &--ticket {
        display: inline-block;
        vertical-align: bottom;
        height: .9lh;
    }

    &--been {
        vertical-align: center;
        margin-right: (2/$font-size)+em;
        height: .6lh;
    }

    &--train {
        margin-left: 0;
        margin-bottom: (5/$title-text)+em;
        text-align: center;
    }
}

// タイトル

.title {
    position: relative;
    font-size: ($title-text/$font-size)+em;
    font-weight: normal;
    text-align: center;
    writing-mode: vertical-lr;
    margin: 0 auto;
    letter-spacing: 0.15em;

    &__h2{
        @include m-query(desktop){
            display: flex;
            flex-direction: column-reverse;
            align-items: flex-start;
        }
    }
    &--about{
        @include m-query(desktop){
                margin-left: (60/$title-text)+em;
                margin-right: 0;
        }
    }

    &--info{
        @include m-query(desktop){
            display: flex;
            flex-direction: column;
        }
    }
}

// タイトルの大きさなど
.titleText {
    letter-spacing: .2rem;

    &__em {
        font-size: f-rem(26);
        font-weight: bold;
        letter-spacing: .3rem;
    }

    &--white {
        color: white;
    }

}

.titleDeco {
    font-size: (15/26)+em;
    display: flex;
    position: absolute;
    left: (60/$title-text)+em;

    &::after {
        content: "";
        display: block;
        height: 70px;
        width: 1px;
        margin-left: 4px;
        background-color: $font-color;
    }

    &--white {
        color: white;

        &::after {
            content: "";
            display: block;
            height: 70px;
            width: 1px;
            margin-left: 4px;
            background-color: white;
        }
    }

    &--brown {
        color: $font-color;
        position: static;
        align-items: center;
        justify-content: center;

        &::after {
            height: 1px;
            width: 70px;
        }
    }

    &--buy {
        color: $font-color;
        position: static;
        align-items: center;
        justify-content: left;

        &::after {
            height: 1px;
            width: 70px;
        }
    }

    &--about {
        @include m-query(desktop) {
                align-items: center;
                display: flex;
                position: static;
                writing-mode: horizontal-tb;
                flex-direction: row-reverse;
                margin-top: (-30/$font-size)+em;
                margin-left: (-35/$font-size)+em;
                &::after{
                    content: "";
                    display: inline-block;
                    height: 1px;
                    width: 70px;
                    margin-top: (5/$font-size)+em;
            }
            & span{
                width: 100%;
            }
        }
    }
}


    // 　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　■　　
    // ■■　　　　　　　　　　　　　　　　■　　　　　　　　　　　　　　　　　　■　　
    // ■■　　　　　　　　　　　　　　　　■　　　　　　　　　　　　　　　　　■■　　
    // ■■　　　　　　　　　　　　　　　■■　　　　■　　　　　　　　　　　■■　　　
    // ■■　　　　　　　　　　　　　■■■■■■　　■■　　　　　　　　　■■　　　　
    // ■■　　　　　　　　　　　　■■■■　　■■　　■■　　　　　　　■■　　　　　
    // ■■　　　　　　　　　　　　　　　■　　　■　　　■　　　　　　■■　　　　　　
    // ■■　　　　　　　　　　　　　　■■　　　■　　　■■　　　　　■■　　　　　　
    // ■■　　　　　　　　　　　　　　■　　　　■　　　　■　　　　　　■■　　　　　
    // ■■　　　　　　■■　　　　　■■　　　　■　　　　　　　　　　　　■■　　　　
    // ■■　　　　　　■　　　　　　■　　　　■■　　　　　　　　　　　　　■■　　　
    // ■■　　　　　■■　　　　　■■　　　　■　　　　　　　　　　　　　　　■■　　
    // 　■　　　　■■　　　　　　■　　■■■■　　　　　　　　　　　　　　　　■■　
    // 　　■■■■　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　
    // 四角形
    .rect {
        position: absolute;
        width: 12vw;
        min-width: 48px;
        z-index: 20;

        &--about1 {
            top: 45px;
            left: 100px;
            transform: translateX(-25%);
            @include m-query(desktop){
                display: none;
            }
        }

        &--about2 {
            top: 250px;
            left: -100px;
            transform: translateX(-25%);
            @include m-query(desktop){
                display: none;
            }
        }

        &--coffee1 {
            right: 0;
            top: 71%;
            @include m-query(tablet){
                top: 36%;
            }
        }

        &--coffee2 {
            left: 6vw;
            top: 2%;
        }

        &--sweets1 {
            right: 0;
            top: 94%;
            z-index: 100;
        }

        &--sweets2 {
            right: 6vw;
            left: 6vw;
            top: 45%;
        }
    }

    // 　　　　　　　　　　　　　　　　　　　　　■■　　　　　　　　　　　　　　　　　　　　　　　　　　　　■　　　　　　　　
    // 　　■■■■■■■■　　　　　　　■■■■■■　　　　　　　　　　　　　　　　　　　　　　　　　　　　■■　　　　　　　
    // 　　　　　　■■■　　　　　　　　　　　　■■　　　　　　　　　　　　　　　　　　　　　　　　　　　　　■　　　　　　　
    // 　　　　　■■　　　　　　　　　　　　　　■■　　　■　　　　　　　　　　　　　　　　　　　　　　　　　■　　　　■　　
    // 　　　　　■　　　　　　　　　　　　　　　■　　　　■　　　　　　　　　■■■■■　　　　　　　　　　　■■■■■■　　
    // 　　　　　　　　　　　　　　　　　　　■■■■　　■■　　　　　　■■■■　　　　■　　　　　　　　　　■■■　　　　　
    // 　　　　　　　　　　　　　　　　　■■　■■■■■■■　　　　　　■　　　　　　　■■　　　　　　　　■■　　　　　　　
    // 　■■　　　　　　　　　　　　　■　　　■　　　　■■■　　　　　　　　　　　　　　■　　　　　　　■　　　　　　　　　
    // 　■　　　　　　　　　　　　　■■　　■　　　　　■　■■　　　　　　　　　　　　■■　　　　　　■■　　　　　　　　　
    // 　■　　　　　　　　　　　　　　■　■■　　　　■■　　　　　　　　　　　　　　■■　　　　　　　■　　　　　　　　　　
    // 　■■　　　　　　　■　　　　　■■■　　　　■■　　　　　　　　　　　　　■■■　　　　　　　　■■　　　　　　　　　
    // 　　　■■■■■■■■　　　　　　　　　　　■■　　　　　　　　　　　　■■■　　　　　　　　　　　　■■■■■■■■　
    // 　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　
    // 　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　
    .commit {
        position: relative;
        background-color: $back-color;
        padding-top: (180/$font-size)+em;
        position: relative;
        z-index: 30;


        // ＃＃＃＃＃＃＃＃＃＃＃

        &__paperBackground {
            border-radius: 50px 50px 0 0;
            background: url(../../img/texture_paper.png) no-repeat center/ cover;
            background-color: white;
            box-shadow: 0 0 8px $shadow-color;
            padding-bottom: (90/$font-size)+em;
            position: relative;
            z-index: 60;
            // background-size: 100%;

            @include m-query(desktop){
                border-radius: 100px 100px 0 0 ;
                padding-bottom: (240/$font-size-desktop)+em;
            }
        }
    }

    // air==================================================================
    // .fixedBackground{
    //     position: absolute;
    //     &--action{
    //         position: fixed;
    //         top: 0;
    //         background-color: #533232;
    //         z-index: 100;
    //     }
    // }

    .wave{
        position: absolute;
        @include m-query(desktop-big){
            scale: 1.3;
        }
        &--right{
            right: 0;
            top: 10px;
        }
        &--left{
            left: 0;
            top: 59vh;
            @include m-query(desktop){
                top: 60vh;
                scale: 1.2;
            }
        }

        &--action{
            position: fixed;
        }
    }

    // subtitle＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
    .subtitle {
        display: flex;
        flex-direction: column;

        &__title {
            color: white;
            font-size: (15/$subtitle-text)+em;
        }

        &__text {
            color: white;
            font-size: ($subtitle-text/$font-size)+em;
        }

        &--info {
            writing-mode: vertical-lr;
        }

    }

    // commitBlock＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
    .commitBlock {
        position: absolute;
        top: (-170/$font-size-desktop)+em;
        left: 0;
        z-index: 10;
        // padding: (55/$font-size)+em (45/$font-size)+em (65/$font-size)+em (30/$font-size)+em;
        padding: (40/$font-size)+em;
        box-shadow: 1px 1px 4px $shadow-color;

        @include m-query(tablet){
            position: relative;
            width: (490/$font-size-desktop)+em;
            margin-left: 0;
            top: (110/$font-size)+em;
            margin-top: (-110/$font-size)+em;
            z-index: 25;

        }

        &__textGroup {
            display: flex;
            margin-top: (20/$font-size)+em;

            &::before {
                content: "";
                width: 1px;
                display: flex;
                background-color: white;
                align-items: stretch;
                margin-right: (10/$font-size)+em;
            }
        }

        &__text {
            color: white;
            letter-spacing: .2em;
            @include m-query(desktop){
                line-height: 2.0;
            }
        }

        &--coffee {
            background-color: $main-color;
            @include m-query(desktop){
                margin-left: 0;
                padding: (40/$font-size-desktop)+em;
            }
        }

        &--sweets {
            background-color: $pink-color;
        }
    }

    // firstImage＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
    .firstImage {
        display: block;
        position: relative;
        margin-left: auto;
        min-width: 300px ;
        width: 70vw;
        max-width: 820px ;
        /* aspect-ratio: auto; */
        object-fit: cover;
        z-index: 4;

        @include m-query(tablet){
            display: none;
        }

        @include m-query(little-mobile){
            padding-top: (60/$font-size)+em;
        }


        margin-left: auto;

        &--desktop{
            display: none;
            @include m-query(tablet){
                display: block;
                position: relative;
                width: 60vw;
                max-width: 60%;
                min-width: 460px;
                margin-right: 0;
                top: 0;
            }
        }
    }


    .imagePair {
        margin-top: (90/$font-size)+em;
        width: 90vw;
        max-width: 500px;
        position: relative;

        @include m-query(desktop){
            display: flex;
            max-width: none;
        }

        &__relative {
            position: relative;
            @include m-query(desktop){
                max-width: 600px;
            }
        }
    }

    .images {
        width: 100%;
        display: block;
    }

    // コーヒー＆菓子　　　　　　　　　　　　　

    .coffee {
        position: relative;
        margin-top: (200/$font-size)+em;

        @include m-query(tablet){
            margin-top: (100/$font-size)+em;
        }

        @include m-query(desktop){
            margin-top: (150/$font-size-desktop)+em;
        }

        &__inner{
            @include m-query(desktop){
                @include m-inner(100%, 1000px);
                margin-top: (-170/$font-size-desktop)+em;
            }
        }
    }

    // sweets
    .sweets {
        position: relative;
        margin-top: (220/$font-size)+em;

        &__firstWrap {
            position: relative;
            @include m-query(desktop){
                @include m-inner(100%, 1000px);
            }
        }

        &__inner{
            @include m-query(desktop){
                @include m-inner(100%, 1000px);
            }
        }

    }

    // 　　　　　　■■　　　　　　　　　　　　　　　　　　　　■　　　　　　　　　■■　　　　　　　　
    // 　　　　　　■　　　　　　　　　　　　　　　　　　　　■■　　　　　　　　　■■　　　　　　　　
    // 　　　　　■■■■■■■■■　　　　　　　　　　　　■■　　　　　　　　　　■■　　　　　　　　
    // 　　　　　■　　　　　　■　　　　　　　　　　　　■■　　　　　　　　　　　■　　　　　　　　　
    // 　　　　■　　　　　　■■　　　　　　　　　　■■■　　　　　　　　　　　■■　　　　　　　　　
    // 　　　■■　■　　　　■　　　　　　　　　　■■■　　　　　　　　　　　　■■　　　■　　　　　
    // 　　■■　　■■■　■■　　　　　　　■■■■　■　　　　　　　　　　　　■　　　　■■　　　　
    // 　　　　　　　　■■■　　　　　　■■■■　　　■　　　　　　　　　　　■■　　　　　■　　　　
    // 　　　　　　　　　■■　　　　　　　　　　　　　■　　　　　　　　　　　■■　　　　　■■　　　
    // 　　　　　　　　■■　　　　　　　　　　　　　　■　　　　　　　　　　　■　　　　　　　■　　　
    // 　　　　　　　■■　　　　　　　　　　　　　　　■　　　　　　　　　　■■　　　■■■■■■　　
    // 　　　　　■■■　　　　　　　　　　　　　　　　■　　　　　　　　■■■■■■■■■■　　■　　
    // 　　　■■■　　　　　　　　　　　　　　　　　　■　　　　　　　　■■　　　　　　　　　　■■　
    // 　　　■■　　　　　　　　　　　　　　　　　　　■　　　　　　　　　　　　　　　　　　　　　　　
    // 　
    // モーニングサービスなど
    .timetable {
        margin-top: (100/$font-size)+em;
        padding: (85/$font-size)+em 0 (95/$font-size)+em;

        @include m-query(desktop){
            margin-top: (180/$font-size)+em;
            padding-top: (280/$font-size-desktop)+em;
        }

        &__inner {
            @include m-inner();
            @include m-query(desktop){
                @include m-inner(100%, 1000px);
            }
        }

        &__content{
            @include m-query(desktop){
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                height: (450/$font-size-desktop)+em;
            }
        }

        &__left {
            display: flex;
            flex-direction: column-reverse;
            @include m-query(desktop){
                display: flex;
                flex-direction: row;
                width: 45%;
            }
        }

        &__button {
            display: flex;
            margin-top: (30/$font-size)+em;
            flex-direction: row;
            justify-content: center;

            @include m-query(desktop){
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
            }
        }
    }


    // タイムスライダー
    .timeslider {
        margin-top: 20px;
        top: 0px;

        @include m-query(desktop){
            margin-top: 0;
            position: relative;
            top: -15px;
        }

        &::after {
            content: "";
            position: relative;
            top: (-33/$font-size)+em;
            display: block;
            height: 2px;
            width: 92%;
            margin-left: auto;
            margin-right: auto;
            background-color: $main-color;
            z-index: 0;

            @include m-query(desktop){
                height: 98%;
                width: 2px;
                top: -50%;
                margin-right: 20%;
                transform:translateY(-46%);
            }
        }

        &__ul {
            display: flex;
            justify-content: space-between;
            @include m-query(desktop){
                flex-direction: column;
                height: 100%;
            }
        }

        &__element {
            display: flex;
            flex-direction: column;
            align-items: center;

            @include m-query(desktop){
                flex-direction: row-reverse;
                margin-bottom: (-31/14)+em;
            }
        }

        &__time {
            font-size: (14/$font-size)+em;
            display: flex;
            @include m-query(desktop){
                position: block;
                display: flex;
                writing-mode: vertical-lr;
                margin-right: 7px;
                font-size: (14/$font-size-desktop)+em;
                & .numberColumn{
                    font-size: 1em;
                    line-height: .8;
                    text-align: center;
                    margin-bottom: (3/14)+em;
                    &--nine{
                        padding-left: (4/14)+em;
                        text-align: center;
                    }
                }
            }
        }

    }

    // 時間の横並び
    .timeflex{
        @include m-query(desktop){
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            &--timetext{
                display: flex;
                flex-direction: column;
                width: 10%;
                margin-right: (11/$font-size-desktop)+em;
            }
        }
    }

    .circle {
        display: block;
        position: relative;
        width: (20/$font-size)+em;
        height: (20/$font-size)+em;
        background-color: $base-color;
        border: (3/$font-size)+em solid $main-color;
        border-radius: 50%;
        z-index: 4;

        &--select {
            background-color: $main-color;
        }
    }

    .slideshow {
        width: 100%;
        height: 280px;
        border-radius: 30px;
        overflow: hidden;

        @include m-query(desktop){
            width: 80%;
            height: 100%;
            margin-left: 15px;
        }

    }

    .slideshowImg {
        width: 120%;
        height: 120%;
        background: url(../../img/not_source/slider_morning.png) no-repeat center center / cover;
        transform: translateX(-8%) translateY(-8%);
    }

    .timeText {
        margin-top: (20/$font-size)+em;
        @include m-query(desktop){
            display: flex;
            flex-direction: row-reverse;
        }

        &__h3 {
            text-align: center;
            color: $font-color;
            font-weight: bold;
            @include m-query(desktop){
                writing-mode: vertical-lr;
                display: flex;
                align-items: center;
            }
        }

        &__title {
            font-size: (22/$font-size)+rem;
        }

        &__times {
            font-size: (16/$font-size)+rem;
            margin-left: 10px;
            @include m-query(desktop){
                display: flex;
                flex-direction: row;
                margin-left: 0;
                align-items: center;
                font-size: $font-size-desktop;
            }
        }

        &__paragraph {
            margin-top: (30/$font-size)+em;
            text-align: center;
            line-height: 1.8;
            @include m-query(desktop){
                writing-mode: vertical-lr;
                text-align: left;
                line-height: 2.5;
                margin-right: (50/$font-size-desktop)+em;
            }
        }
    }

    .button {
        display: flex;
        align-items: center;
        width: (50/20)+em;
        height: (50/20)+em;
        padding: (15/20)+em;
        margin: 0 (18/20)+em;
        border-radius: 50%;
        text-align: center;
        font-size: (20/$font-size)+em;
        font-weight: bold;
        color: white;
        background-color: $main-color;
        scale: 1.0;
        transition: scale .25s ease;

        &:hover{
            scale: 1.15;
            cursor: pointer;
        }

        @include m-query(desktop){
            align-items: center;
            margin-top: (15/$font-size-desktop)+em;
            align-items: flex-end;
            text-align: center;
            margin: 0;
            margin-top: (10/$font-size-desktop)+em;
        }

        &--right {
            padding-right: (12/20)+em;
            padding-left: (18/20)+em;
            @include m-query(desktop){
                transform: rotateZ(90deg);
                text-align: center;
            }
        }
        &--left {
            @include m-query(desktop){
                transform: rotateZ(90deg);
            }
        }
    }

    .message {
        &__inner {
            @include m-inner();

            @include m-query(desktop){
                @include m-inner(100%, 1000px);
            }

            &::before {
                content: "";
                display: block;
                width: (95/$font-size)+em;
                height: (97/$font-size)+em;
                margin-left: auto;
                background: url(../../img/not_source/message_R.png) no-repeat center center / cover;
            }

            &::after {
                content: "";
                display: block;
                width: (95/$font-size)+em;
                height: (97/$font-size)+em;
                margin-right: auto;
                background: url(../../img/not_source/message_L.png) no-repeat center center / cover;
            }
        }

        &__text {
            writing-mode: vertical-rl;
            margin-right: auto;
            margin-left: auto;
            position: relative;
            font-size: (18/$font-size)+em;
            line-height: 1.8;
            @include m-query(desktop){
                writing-mode: horizontal-tb;
                text-align: center;
                font-size: (20/$font-size-desktop)+em;
                font-weight: bold;
            }
        }

        &__space {
            margin-bottom: 20px;
        }

        padding-top: (70/$font-size)+em;

        @include m-query(desktop){
            padding-top: (180/$font-size-desktop)+em;
        }
    }

    // ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
    // ＝＝＝＝＝＝＝＝＝＝　メニュー　＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
    // ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
    .menu {
        background-color: $menu-back-color;
        padding-top: (130/$font-size)+em;
        padding-bottom: (160/$font-size)+em;
        z-index: 20;

        @include m-query(desktop){
            padding: (200/$font-size-desktop)+em 0;
        }

        &__inner {
            @include m-inner();
        }

        &__title {
            padding-bottom: (70/$font-size)+em;
        }

    }

    .menuBlock {
        display: flex;
        flex-direction: column;
        scale: 1;
        transition: all .3s ease;

        &:hover{
            scale: 1.08;
        }

        &__imageWrap{
            overflow: hidden;
        }

        &__image img{
            scale: 1.2;
            transition: scale .3s ease;
            &:hover{
                scale: 1.01;
            }
        }

        &__text {
            padding: (30/$font-size)+em;
            background-color: $gray-color;
        }

        &__title {
            font-size: (18/$font-size)+em;
            margin-bottom: (8/18)+em;
        }
    }

    // 豆系
    .been {
        background-color: $back-color;
        z-index: 40;
    }
    // チケット＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝

    .ticket {
        padding-top: (130/$font-size)+em;
        padding-bottom: (145/$font-size)+em;
        background-color: $back-color;

        &__inner {
            @include m-inner();

            @include m-query(desktop){
                @include m-inner(100%, 1000px);
            }
        }

        &__paragraph {
            line-height: 1.8;
            letter-spacing: .1em;
            text-align: center;
        }

        &__title {
            margin-bottom: (50/$title-text)+em;
            writing-mode: horizontal-tb;
        }

        &__img {
            display: block;
            margin-top: (50/$font-size)+em;
            margin-bottom: (80/$font-size)+em;
            text-align: center;
        }

        &__price {
            display: flex;
            flex-direction: column;
            letter-spacing: .1em;
        }

        &__priceParagraph {
            margin-bottom: (20/$font-size)+em;
            text-align: center;
        }

        &__em {
            font-size: (18/$font-size)+em;
            letter-spacing: .13em;
        }
    }

    .littleTitle {
        font-size: (18/$font-size)+em;
        margin-bottom: (26/18)+em;
        text-align: center;
        @include m-query(desktop){
            font-size: (21/$font-size-desktop)+em;
            margin-bottom: (50/20)+em;
        }
    }

    // 珈琲豆＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
    .coffeeBeen {
        background-color: $back-color;
        padding-bottom: (100/$font-size)+em;

        @include m-query(desktop){
            padding-bottom: (200/$font-size-desktop)+em;
        }

        &__inner {
            @include m-inner();

            @include m-query(desktop){
                @include m-inner(100%, 1000px);
            }
        }

        &__firstImg {
            margin-left: auto;
            height: (90/$font-size)+em;
            width: 90vw;
            background: url(../../img/not_source/been_background.png) no-repeat center center /cover;

            @include m-query(desktop){
                max-width: 900px;
            }
        }

        &__secondImg {
            margin-left: auto;
            margin-top: (20/$font-size)+em;
            height: (80/$font-size)+em;
            width: 72vw;
            background: url(../../img/not_source/been_background2.png) no-repeat center center /cover;
            @include m-query(desktop) {
                    max-width: 720px;//8
                }
        }

        &__thirdImg {
            margin-left: auto;
            margin-top: (20/$font-size)+em;
            height: (80/$font-size)+em;
            width: 54vw;
            background-color: $main-color;
            @include m-query(desktop) {
                max-width: 540px;//6
            }
        }
    }

    .buy {
        padding-bottom: (150/$font-size)+em;
        &::after{
            content: "";
            display: block;
            width: 50%;
            height: 1px;
            background-color: $font-color;
            margin: (150/$font-size-desktop)+em auto 0;
        }

        &__title {
            writing-mode: horizontal-tb;
            margin-bottom: (60/$title-text)+em;
            text-align: left;
        }

        &__paragraph {
            line-height: 1.8;
            letter-spacing: .1em;
        }
    }

    // 販売している豆＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
    .beenMenu {
        &::before {
            width: 60vw;
            height: 1px;
            margin-right: auto;
            margin-left: auto;
            margin-bottom: (70/$font-size)+em;
            background-color: $main-color;
            display: block;
        }

        &__dl {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;

            @include m-query(desktop){
                flex-direction: row;
            }
        }

        &__dlWrap {
            display: flex;
            position: relative;
            justify-content: space-around;
            margin-top: (50/$font-size)+em;
            padding-bottom: (50/$font-size)+em;

            &:first-child::after {
                content: "";
                height: 1px;
                width: 20vw;
                background-color: $main-color;
                display: block;
                position: absolute;
                bottom: 0;

                @include m-query(desktop){
                    display: none;
                }
            }

            @include m-query(desktop){
                width: 50%;
            }
        }

        &__column {
            display: flex;
            flex-wrap: wrap;
            writing-mode: vertical-lr;
            font-size: (17/$font-size)+em;
            // text-combine-upright: all;

            @include m-query(desktop){
                font-size: (19/$font-size-desktop)+em;
            }

            & dt {
                margin-bottom: (20/17)+em;
                @include m-query(desktop){
                    font-size: 1em;
                }
            }

            & dd {
                margin-top: auto;
            }
        }
    }

    // おしらせ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
    .info {
        position: relative;
        overflow: hidden;
        max-width: none;
        z-index: 60;

        &__inner {
            @include m-inner();

            @include m-query(desktop){
                @include m-inner(100%, 1000px);
                position: relative;
                margin-bottom: (-30/$font-size-desktop)+em;
                margin-left: 0;
                margin-right: 0;
            }
        }

        &__content {
            position: relative;
            margin-top: (150/$font-size)+em;
            background-color: $back-color-clear;
            padding-top: (100/$font-size)+em;
            border-radius: 110px 110px 0 0;
            z-index: 30;

            @include m-query(desktop){
                border-radius: 280px 0 0 280px;
                margin: (120/$font-size-desktop)+em 0 (120/$font-size-desktop)+em auto;
                padding: (140/$font-size-desktop)+em (150/$font-size-desktop)+em;
                max-width: 1200px;
                text-align: left;
            }
        }

        &__text{
            @include m-query(desktop){
                display: flex;
            }
        }

        &__title{
            @include m-query(desktop){
                margin: auto (140/$title-text)+em auto 0;
            }
        }

        &__ul {
            padding-top: (80/$font-size)+em;
            @include m-query(desktop){
                width: 70%;
                padding-top: 0;
                @include m-query(desktop){
                    @include m-inner(100%, 550px);
                    margin: 0;
                    width: 100%;
                    max-width: none;
                }
            }
        }

        &__li {
            font-size: (16/$font-size)+em;
            padding-bottom: (15/16)+em;
            margin-bottom: (20/16)+em;
            color: $font-color;
            scale: 1;
            transition: all .3s ease;
            // border-bottom: 1px solid $gray-color;

            &:hover{
                color: $yellow-color;
                scale: 1.02;
            }

            &::after{
                content: "";
                position: relative;
                top: (10/16)+em;
                display: block;
                width: 0%;
                height: 1px;
                border-bottom: 1px solid $font-color;
                transition: all .3s ease;
            }

            &:hover{
                &::after{
                    width: 100%;
                    border-bottom: 1px solid $yellow-color;
                }
            }
        }

        &__li a{
            padding-bottom: (10/16)+em;
            // color: $font-color;
            // scale: 1;
            // transition: all .2s ease;
            // &:hover{
            //     color: $yellow-color;
            //     scale: 1.3;
            // }
        }


        &__link {
            display: block;
            text-align: right;
            margin-top: (60/$font-size)+em;
            padding-bottom: (80/$font-size)+em;
            transition: all .3s ease;

            &::after{
                content: "";
                display: block;
                width: 0px;
                height: 1px;
                text-align: right;
                margin-top: (10/$font-size)+em;
                margin-left: auto;
                background-color: $font-color;
                // transform: translateX(-50%) scaleX(0.6);
                transition: all .3s ease;
            }
            &:hover{
                &::after{
                    @include m-query(desktop){
                        width: 220px;
                    }
                    width: 200px;
                    background-color: $yellow-color;
                }
            }

            &:hover{
                letter-spacing: .2em;
                color: $yellow-color;
                font-weight: bold;
            }

            @include m-query(desktop){
                position: absolute;
                margin-top: (30/$font-size-desktop)+em;
                padding-bottom: 0;
                @include m-inner(100%, 550px);
                max-width: none;
                bottom: (-40/$font-size-desktop)+em;
            }
        }

        & time {
            display: block;
            font-size: $font-size;
            margin-bottom: (5/$font-size)+em;
        }

        &__backimage {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            object-fit: cover;
            filter: blur(3px);
            z-index: 20;
            @include m-query(desktop){
                width: 110%;
            }
        }
    }

    .access {
        position: relative;
        padding: (140/$font-size)+em 0 (80/$font-size)+em;
        background-color: $base-color;
        z-index: 30;

        &__inner {
            @include m-inner();

            @include m-query(desktop){
                @include m-inner(100%, 1000px);
            }
        }

        &__block{
            margin-top:  (60/$font-size)+em;
            @include m-query(desktop){
                position: relative;
                margin-top: (120/$font-size-desktop)+em;
            }
        }

        &__firstBack,&__secondBack{
            display: none;
            @include m-query(desktop){
                display: block;
                position: absolute;
                width: 37vw;
                height: 360px;
                top: 300px;
                overflow: hidden;
                min-width: 450px;
            }
        }

        &__firstBack{
            top: 330px;
        }

        &__secondBack{
            top: 750px;
        }

        &__firstImg,&__secondImg{
            @include m-query(desktop){
                object-fit: cover;
                width: 120%;
                min-width: 450px;
                opacity: .5;
            }
        }

        position: relative;

    }

    .location {
        margin-top: (30/$font-size)+em;
        position: relative;
        display: flex;
        flex-direction: column;
        z-index: 20;

        @include m-query(desktop){
            display: flex;
            flex-direction: row-reverse;
            flex-wrap: wrap;
            width: 80%;
            margin-left: auto;
        }

        &__articles {
            margin-top: (80/$font-size)+em;
        }

        &__text {
            padding: (20/$font-size)+em;
            @include m-query(desktop){
                width: 40%;
            }
        }

        &__title {
            color: white;
            margin-bottom: (15/17)+em;
            font-size: (17/$font-size)+em;
        }

        &__caption {
            color: white;
            line-height: 1.8;
        }

        &--shop {
            background-color: $main-color;
            @include m-query(desktop){
                height: 400px;
                margin-bottom: 30px;
            }
        }

        &--parking {
            background-color: $yellow-color;
            @include m-query(desktop){
                height: 300px;
            }
        }
    }

    // 小さい文字
    .small {
        color: white;
        font-size: (13/$font-size)+em;

        &--park {
            font-size: (13/$font-size)+em;
        }
    }

    .map {
        width: 100%;
        aspect-ratio: 490/315;
        display: block;
        vertical-align: bottom;
        height: auto;

        @include m-query(desktop){
            aspect-ratio: unset;
            width: 60%;
        }
    }



    .mobileNone {
        display: none;

        @include m-query(four) {
            display: inline-block;
        }
    }

    .mobileNone-img{
        display: block;
        @include m-query(mobile){
            display: none;
        }
    }

    .desktopNone{
        @include m-query(tablet){
            display: none;
        }
    }

    .numberColumn {
        text-combine-upright: all;
        &--timeflex{
            @include m-query(desktop){
                // margin-left: (5/$font-size-desktop)+em;
                margin-top: (5/$font-size-desktop)+em;
                margin-bottom: (5/$font-size-desktop)+em;
                position: relative;
                width: $font-size-desktop+px;
                text-align: center;

            }
        }
        &--morning{
            @include m-query(desktop){
                margin: 5px 0;
            }
        }
        &--manderin{
            @include m-query(desktop){
                margin-right: (3/$font-size-desktop)+em;
            }
        }
    }